<div class="container">
  <h1 class="page-title">
    {{ page.title }}
  </h1>
  {% comment %}
    Делаем пермалинк страницы вручную
  {% endcomment %}
  {% assign page_handle = page.url | split: '/' | last %}

  {% if page_handle == 'favorites' %}
    {% include "favorite" %}
  {% endif %}
  <div class="page-content page-{{ page_handle }}">
    {{ page.content }}
  </div>
</div>
