<div class="discounts-wrap">
  <label for="discounts-coupon" class="discounts-toggle">
    <span class="discounts-percent">%</span> <span class="discounts-marker">промокод</span>
  </label>
  <div class="inpt-group">
    <input type="text" name="cart[coupon]" id="discounts-coupon" class="discounts-coupon inpt-control inpt" placeholder="Введите промокод" {% if cart.invalid_coupon? %}value=""{% else %}value="{{ cart.coupon }}"{% endif %}>
    <button class="discounts-submit
    bttn-transparent
    inpt-group-addon
    is-discounts"
    data-coupon-submit
    />Применить</button>
  </div>
</div>

<div class="discounts-notice notice is-warning" data-cart-discounts-error></div>
<div class="discounts-rows cart-discounts" data-cart-discounts-ajax></div>
