.category-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.category-menu-item {
  display: block;
}

.category_menu .category_menu {
  display: none;
}
.is-button-active + .category_menu {
  display: block;
}
.category_menu-marker::after {
  content: '+';
  font-size: 20px;
}
.category_menu-marker.is-button-active::after {
  content: '-';
}
.category_menu.level-2 {
  padding-left: 50px;
}