.advantage-text {
  color: $color-text-primary;
  font-size: 16px;
  display: block;
  max-width: 138px;
  margin: 10px auto;
  text-align: center;
}
.advantage-icon {
  height: 60px;
  margin-bottom: 10px;
}
.advantage {
  padding: 55px 0;
}
.advantage-title {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
