.form-row {
  margin-bottom: 1rem;
}

.form-label {
  width: 100%;
  margin-bottom: 0.5rem;
}
.form-field {
  width: 100%;
}
.form-field.text-field.is-textarea {
  width: 100%;
}
.reviews-form {
  margin-bottom: 20px;
}
.reviews-toggle-wrapper {
  margin-bottom: 20px;
}
.form-field.text-field.is-captcha {
  margin-top: 10px;
}
.reviews-wrapper {
  max-width: 600px;
}
.reviews-item {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}
