.chkbx {
  display: none;
}
.chkbx-control {
  width: 22px;
  height: 22px;
  position: relative;
  border: 1px solid $color-link-primary;
  display: inline-block;
  vertical-align: top;
  user-select: none;
}
.chkbx + .chkbx-control:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14' height='11'%3E%3Cdefs%3E%3Cpath id='a' d='M708.71 347.72l-5 5a1 1 0 0 1-1.05.22.98.98 0 0 1-.9-.26l-2.94-2.95a1 1 0 0 1 1.41-1.41l2.51 2.5 4.54-4.53a1 1 0 1 1 1.43 1.43z'/%3E%3C/defs%3E%3Cuse fill='%23292f39' xlink:href='%23a' transform='translate(-697 -344)'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 70%;
  opacity: 0;
  transition: opacity 200ms;
}
.chkbx:checked + .chkbx-control:after {
  opacity: 1;
}
.chkbx:disabled + .chkbx-control {
  opacity: 0.5;
  &:hover {
    cursor: no-drop;
  }
}
.chkbx-label {
  cursor: pointer;
  display: block;
  position: relative;
  padding-left: 30px;
  user-select: none;
  line-height: 24px;
}
.chkbx-label .chkbx-control {
  left: 0;
  position: absolute;
  // высота - 0.5em
  top: 0;
}
.chkbx-inline {
  display: inline-block;
  vertical-align: top;
}
