.search_widget {
  position: relative;
}
.ajax-search-results {
  position: absolute;
  top: calc(100% - 1px);
  background: #fff;
  box-shadow: 0 1px 3px -1px #000;
  width: 100%;
  left: 0;
  z-index: 10;
  border: 1px solid rgba($color-border-primary, 0.5);
}
.ajax-search-results {
  padding: 0;
  list-style: none;
  text-align: left;
  margin: 0;
}

.ajax-search-item {
  margin-bottom: 2px;
}

.ajax-search-link {
  padding: 5px 10px;
  display: block;
}

.ajax_search-marked {
  font-weight: bold;
}
